body{
    text-align: center;
    background-color: rgba(39, 39, 39, 0.849);
}


h3{
    font-size: 30px;
    transition: 0.2s;
}
h3:hover{
    font-size: 40px;
}

label{
    font-size: 30px;
    transition: 0.2s;
    
}
label:hover{
    font-size: 35px;
}

input{
    font-size: 20px;
    box-shadow: 0px 3px 4px rgb(0, 0, 0);
    border: none;
    padding: 5px 15px;
    transition: 0.25s;
}
input:hover{
    padding: 6px 20px;
}
input:active{
    padding: 10px 25px;
}

button{
    padding: 9px 18px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 84, 122, 0.5);
    color: rgba(255, 255, 255, 0.774);
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgb(0, 0, 0);
    transition: 0.2s;
}
button:hover{
    color: rgb(255, 255, 255);
    
}
button:active{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
}